---
import CoockiesAgreement from 'src/components/CoockiesAgreement.astro';
import Footer from '../components/Footer.astro';
import PrimeHeader from '../components/PrimeHeader.astro';
import SecondHeader from '../components/SecondHeader.astro';
import BurgerPanel from 'src/components/BurgerPanel.astro';
import ContactFormDrawer from 'src/components/ContactFormDrawer.astro';
import ThanksDrawer from 'src/components/ThanksDrawer.astro';
import ExceptionDrawer from 'src/components/ExceptionDrawer.astro';

interface Props {
	title: string;
	description: string;
	empty?: boolean;
}

const { title, description, empty = false } = Astro.props;

const mode = import.meta.env.MODE as ("development" | "production");
---

<!doctype html>
<html lang="en" data-mode={mode}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="favicon-32x32.png" />
		<meta name="generator" content={Astro.generator} />
		<meta name="app-mode" content={mode} />
		<style is:inline>
			/* @import url(https://fonts.googleapis.com/css?family=Inter+Tight:regular,500,600,700,500italic&display=swap); */
			/* 	100	Thin (Hairline)
					200	Extra Light (Ultra Light)
					300	Light
					400	Normal
					500	Medium
					600	Semi Bold (Demi Bold)
					700	Bold
					800	Extra Bold (Ultra Bold)
					900	Black (Heavy) */
			@import url(https://fonts.googleapis.com/css?family=Inter:300,regular,500,600,700,800);
			@import url(https://fonts.googleapis.com/css?family=Onest:regular,500,600,700);
		</style>
		{mode === "production" && <link rel="stylesheet" href="./assets/main.css" />}
		<script is:inline src="./libs/fslightbox.js" type="module"></script>
		<script is:inline src="./assets/main.js" type="module"></script>
		<title>{title}</title>
	</head>
	<body class="tg-regular">
		<style>
			.splash {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				position: fixed;
				z-index: 1000000;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background-color: #1E5E46;
			}
			.splash._hidden {
				display: none;
			}
			.splash__lightning {
				width: 5.625rem;
				margin-bottom: 5.75rem;
				@media (max-width: 575px) {
					width: 4rem;
					margin-bottom: 3rem;
				}
			}
			.splash__lightning-progress {
				height: var(--progress, 0%);
			}
			.splash__logo {
				width: 14.75rem;
				margin-bottom: 1rem;
			}
			.splash__progress {
				font-weight: 500;
				font-size: 18px;
				line-height: 120%;
				letter-spacing: -0.03em;
				color: #F5F5F2;
				&::after {
					content: "%";
				}
			}
			
		</style>
		<div class="splash">
			<svg class="splash__lightning" viewBox="0 0 90 198" fill="none" xmlns="http://www.w3.org/2000/svg">
				<mask id="lightning-mask" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="90" height="198">
					<path d="M5.01515 118.379C4.06933 118.386 3.14202 117.863 2.34093 116.87C1.53985 115.878 0.89788 114.458 0.489615 112.774C0.0813498 111.09 -0.0764548 109.213 0.0345355 107.359C0.145526 105.506 0.520755 103.753 1.11663 102.303L50.5979 1.70237C50.9691 0.856939 51.4749 0.285634 52.0323 0.0822278C52.5897 -0.121179 53.1655 0.0553978 53.6654 0.582975C54.1652 1.11055 54.5593 1.95778 54.783 2.9856C55.0066 4.01341 55.0466 5.16074 54.8963 6.23926L45.2999 65.6134C45.0169 67.1079 44.9219 68.7155 45.023 70.2983C45.124 71.8812 45.4181 73.392 45.8801 74.7013C46.3421 76.0105 46.9581 77.0791 47.6754 77.8153C48.3926 78.5515 49.1896 78.9334 49.9981 78.9282H84.9849C85.9307 78.9219 86.858 79.4452 87.6591 80.4374C88.4602 81.4297 89.1021 82.8501 89.5104 84.5337C89.9187 86.2173 90.0765 88.0949 89.9655 89.9484C89.8545 91.8019 89.4793 93.5552 88.8834 95.0046L39.4021 195.605C39.031 196.451 38.5252 197.022 37.9678 197.225C37.4104 197.429 36.8345 197.252 36.3346 196.725C35.8348 196.197 35.4407 195.35 35.217 194.322C34.9934 193.294 34.9534 192.147 35.1038 191.068L44.7001 131.694C44.9831 130.2 45.0781 128.592 44.9771 127.009C44.876 125.427 44.5819 123.916 44.1199 122.606C43.6579 121.297 43.0419 120.229 42.3246 119.492C41.6074 118.756 40.8104 118.374 40.0019 118.379H5.01515Z" fill="white"/>
				</mask>
				<g mask="url(#lightning-mask">
					<rect x="0" y="0" width="100%" height="100%" fill="#94C43A"/>
					<rect class="splash__lightning-progress" x="0" y="0" width="100%" fill="#F5F5F2"/>
				</g>
			</svg>
			<svg class="splash__logo" viewBox="0 0 231 43" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M18.68 42.5943C14.6467 42.5943 11.255 41.7693 8.505 40.1193C5.755 38.4326 3.68333 36.1043 2.29 33.1343C0.896667 30.1643 0.2 26.7176 0.2 22.7943C0.2 18.871 0.915 15.406 2.345 12.3993C3.775 9.39263 5.865 7.04596 8.615 5.3593C11.365 3.63596 14.72 2.7743 18.68 2.7743C21.6133 2.7743 24.1983 3.2693 26.435 4.2593C28.6717 5.24929 30.4867 6.66096 31.88 8.49429C33.31 10.291 34.2267 12.5093 34.63 15.1493H27.975C27.4617 13.2793 26.4167 11.8126 24.84 10.7493C23.2633 9.68596 21.21 9.1543 18.68 9.1543C15.93 9.1543 13.7117 9.79596 12.025 11.0793C10.3383 12.3626 9.11 14.0126 8.34 16.0293C7.60667 18.046 7.24 20.2093 7.24 22.5193C7.24 24.9026 7.625 27.1393 8.395 29.2293C9.20167 31.3193 10.4667 33.006 12.19 34.2893C13.9133 35.5726 16.1317 36.2143 18.845 36.2143C20.5317 36.2143 21.9983 35.976 23.245 35.4993C24.5283 35.0226 25.5917 34.3443 26.435 33.4643C27.315 32.5476 27.92 31.4843 28.25 30.2743H35.235C34.795 32.8776 33.805 35.096 32.265 36.9293C30.7617 38.7626 28.8367 40.1743 26.49 41.1643C24.18 42.1176 21.5767 42.5943 18.68 42.5943ZM51.4016 42.5393C48.4316 42.5393 45.8649 41.9343 43.7016 40.7243C41.5749 39.5143 39.9249 37.791 38.7516 35.5543C37.6149 33.3176 37.0466 30.696 37.0466 27.6893C37.0466 24.646 37.6332 22.0243 38.8066 19.8243C39.9799 17.5876 41.6299 15.846 43.7566 14.5993C45.8832 13.3526 48.4316 12.7293 51.4016 12.7293C54.3349 12.7293 56.8649 13.3526 58.9916 14.5993C61.1182 15.846 62.7499 17.606 63.8866 19.8793C65.0232 22.116 65.5916 24.756 65.5916 27.7993C65.5916 30.7693 65.0232 33.3726 63.8866 35.6093C62.7866 37.8093 61.1732 39.5143 59.0466 40.7243C56.9199 41.9343 54.3716 42.5393 51.4016 42.5393ZM51.3466 36.4343C53.1799 36.4343 54.6466 36.031 55.7466 35.2243C56.8832 34.4176 57.7082 33.3543 58.2216 32.0343C58.7349 30.7143 58.9916 29.2843 58.9916 27.7443C58.9916 26.2043 58.7349 24.756 58.2216 23.3993C57.7082 22.0426 56.8832 20.961 55.7466 20.1543C54.6466 19.311 53.1799 18.8893 51.3466 18.8893C49.5132 18.8893 48.0282 19.311 46.8916 20.1543C45.7549 20.961 44.9299 22.0426 44.4166 23.3993C43.9032 24.7193 43.6466 26.1676 43.6466 27.7443C43.6466 29.2843 43.9032 30.7326 44.4166 32.0893C44.9666 33.4093 45.7916 34.4726 46.8916 35.2793C48.0282 36.0493 49.5132 36.4343 51.3466 36.4343ZM70.8118 42.1543V19.1093H66.3018V13.1693H70.8118V10.4193C70.8118 8.2193 71.1418 6.42263 71.8018 5.0293C72.4618 3.59929 73.5068 2.55429 74.9368 1.89429C76.4035 1.23429 78.2735 0.904294 80.5468 0.904294H84.8368V6.8443H81.3168C80.3268 6.8443 79.5568 7.0093 79.0068 7.3393C78.4568 7.6693 78.0535 8.1643 77.7968 8.8243C77.5768 9.44763 77.4668 10.2176 77.4668 11.1343V13.1693H84.8368V19.1093H77.4668V42.1543H70.8118ZM89.398 42.1543V19.1093H84.888V13.1693H89.398V10.4193C89.398 8.2193 89.728 6.42263 90.388 5.0293C91.048 3.59929 92.093 2.55429 93.523 1.89429C94.9896 1.23429 96.8596 0.904294 99.133 0.904294H103.423V6.8443H99.903C98.913 6.8443 98.143 7.0093 97.593 7.3393C97.043 7.6693 96.6396 8.1643 96.383 8.8243C96.163 9.44763 96.053 10.2176 96.053 11.1343V13.1693H103.423V19.1093H96.053V42.1543H89.398ZM117.842 42.5393C114.835 42.5393 112.269 41.916 110.142 40.6693C108.052 39.4226 106.457 37.6993 105.357 35.4993C104.294 33.2626 103.762 30.6776 103.762 27.7443C103.762 24.811 104.312 22.226 105.412 19.9893C106.549 17.716 108.162 15.9376 110.252 14.6543C112.379 13.371 114.927 12.7293 117.897 12.7293C120.097 12.7293 122.022 13.1326 123.672 13.9393C125.322 14.7093 126.697 15.7726 127.797 17.1293C128.934 18.486 129.777 20.026 130.327 21.7493C130.877 23.4726 131.134 25.2876 131.097 27.1943C131.06 27.6343 131.024 28.0743 130.987 28.5143C130.95 28.9176 130.895 29.3576 130.822 29.8343H110.472C110.582 31.1176 110.912 32.291 111.462 33.3543C112.049 34.4176 112.855 35.261 113.882 35.8843C114.945 36.5076 116.265 36.8193 117.842 36.8193C118.759 36.8193 119.639 36.7093 120.482 36.4893C121.325 36.2326 122.059 35.866 122.682 35.3893C123.342 34.9126 123.782 34.3076 124.002 33.5743H130.712C130.235 35.6643 129.355 37.3693 128.072 38.6893C126.789 40.0093 125.249 40.981 123.452 41.6043C121.692 42.2276 119.822 42.5393 117.842 42.5393ZM110.582 24.8293H124.552C124.552 23.6193 124.277 22.5193 123.727 21.5293C123.177 20.5393 122.389 19.7693 121.362 19.2193C120.372 18.6326 119.162 18.3393 117.732 18.3393C116.192 18.3393 114.909 18.651 113.882 19.2743C112.855 19.8976 112.067 20.7043 111.517 21.6943C110.967 22.6843 110.655 23.7293 110.582 24.8293ZM147.224 42.5393C144.217 42.5393 141.651 41.916 139.524 40.6693C137.434 39.4226 135.839 37.6993 134.739 35.4993C133.676 33.2626 133.144 30.6776 133.144 27.7443C133.144 24.811 133.694 22.226 134.794 19.9893C135.931 17.716 137.544 15.9376 139.634 14.6543C141.761 13.371 144.309 12.7293 147.279 12.7293C149.479 12.7293 151.404 13.1326 153.054 13.9393C154.704 14.7093 156.079 15.7726 157.179 17.1293C158.316 18.486 159.159 20.026 159.709 21.7493C160.259 23.4726 160.516 25.2876 160.479 27.1943C160.442 27.6343 160.406 28.0743 160.369 28.5143C160.332 28.9176 160.277 29.3576 160.204 29.8343H139.854C139.964 31.1176 140.294 32.291 140.844 33.3543C141.431 34.4176 142.237 35.261 143.264 35.8843C144.327 36.5076 145.647 36.8193 147.224 36.8193C148.141 36.8193 149.021 36.7093 149.864 36.4893C150.707 36.2326 151.441 35.866 152.064 35.3893C152.724 34.9126 153.164 34.3076 153.384 33.5743H160.094C159.617 35.6643 158.737 37.3693 157.454 38.6893C156.171 40.0093 154.631 40.981 152.834 41.6043C151.074 42.2276 149.204 42.5393 147.224 42.5393ZM139.964 24.8293H153.934C153.934 23.6193 153.659 22.5193 153.109 21.5293C152.559 20.5393 151.771 19.7693 150.744 19.2193C149.754 18.6326 148.544 18.3393 147.114 18.3393C145.574 18.3393 144.291 18.651 143.264 19.2743C142.237 19.8976 141.449 20.7043 140.899 21.6943C140.349 22.6843 140.037 23.7293 139.964 24.8293Z" fill="#FDFDFD"/>
				<path d="M181.446 42.5943C177.449 42.5943 174.039 41.751 171.216 40.0643C168.429 38.3776 166.284 36.031 164.781 33.0243C163.314 30.0176 162.581 26.5893 162.581 22.7393C162.581 18.816 163.333 15.3693 164.836 12.3993C166.339 9.39263 168.503 7.04596 171.326 5.3593C174.149 3.63596 177.559 2.7743 181.556 2.7743C185.553 2.7743 188.944 3.61763 191.731 5.3043C194.554 6.99096 196.718 9.33763 198.221 12.3443C199.724 15.3143 200.476 18.7426 200.476 22.6293C200.476 26.4793 199.724 29.9076 198.221 32.9143C196.754 35.921 194.591 38.286 191.731 40.0093C188.908 41.7326 185.479 42.5943 181.446 42.5943ZM181.556 36.2143C184.343 36.2143 186.616 35.5726 188.376 34.2893C190.136 33.006 191.419 31.3376 192.226 29.2843C193.069 27.231 193.491 25.0493 193.491 22.7393C193.491 20.9793 193.253 19.2926 192.776 17.6793C192.336 16.066 191.621 14.6176 190.631 13.3343C189.678 12.051 188.449 11.0426 186.946 10.3093C185.443 9.53929 183.646 9.1543 181.556 9.1543C178.806 9.1543 176.533 9.79596 174.736 11.0793C172.976 12.3626 171.674 14.031 170.831 16.0843C169.988 18.1376 169.566 20.356 169.566 22.7393C169.566 25.086 169.988 27.286 170.831 29.3393C171.674 31.3926 172.976 33.061 174.736 34.3443C176.533 35.591 178.806 36.2143 181.556 36.2143ZM203.697 42.1543V13.1693H209.967L210.352 16.8543C211.122 15.8276 212.02 15.021 213.047 14.4343C214.073 13.8476 215.155 13.426 216.292 13.1693C217.428 12.876 218.492 12.7293 219.482 12.7293C222.232 12.7293 224.395 13.3343 225.972 14.5443C227.585 15.7543 228.722 17.3676 229.382 19.3843C230.042 21.401 230.372 23.656 230.372 26.1493V42.1543H223.662V27.2493C223.662 26.186 223.588 25.1593 223.442 24.1693C223.295 23.1426 223.002 22.226 222.562 21.4193C222.158 20.6126 221.572 19.971 220.802 19.4943C220.032 19.0176 219.005 18.7793 217.722 18.7793C216.145 18.7793 214.807 19.201 213.707 20.0443C212.607 20.8876 211.782 22.0243 211.232 23.4543C210.682 24.8476 210.407 26.4426 210.407 28.2393V42.1543H203.697Z" fill="#B5EB3D"/>
			</svg>
			<div class="splash__progress">0</div>
		</div>
		<script>
			var pageLoad = document.readyState === 'complete';
			var splash = document.querySelector(".splash")  as HTMLElement;
			var progressElem = splash?.querySelector(".splash__progress") as HTMLElement;
			var barCompleted = false;
			var progress = 0;
			var step = 2;
			var intervalId = setInterval(function() {
				progress += step;
				progressElem.textContent = progress.toString();
				splash?.style.setProperty("--progress", 100 - Number(progress) + "%");
				if (progress >= 100) {
					clearInterval(intervalId);
					setBarCompleted(true);
				}
			}, 5);
			window.addEventListener("load", () => setPageLoad(true));
			function setBarCompleted(next: boolean) {
				barCompleted = next;
				combineComplete();
			}
			function setPageLoad(next: boolean) {
				pageLoad = next;
				combineComplete();
			}
			function combineComplete() {
				if (pageLoad && barCompleted) complete();
			}
			function complete() {
				document.documentElement.classList.add("_ready");
				splash.classList.add("_hidden");
			}
		</script>
		{empty ? null : <Fragment>
											<PrimeHeader/>
											<SecondHeader/>
										</Fragment>}
		<main>
			<slot />
		</main>
		{empty ? null : <Footer></Footer>}
		<div class="drawers" data-lenis-prevent>
			<BurgerPanel />
			<CoockiesAgreement />
			<ContactFormDrawer />
			<ThanksDrawer />
			<ExceptionDrawer />
		</div>
		<div class="page-drawers">
			<slot name="drawers" />
		</div>
		<div class="go-up-layer">
			<div class="container go-up-layer__container">
				<button type="button" class="btn btn_icon go-up-layer__btn" data-component=":go-up-btn:">
					<span class="icon-arrow-up btn__icon"></span>
				</button>
			</div>
		</div>
	</body>
</html>